---
import Search from "../components/Search.astro";
import { FaSolidBars } from "solid-icons/fa";

const pathname = Astro.url.pathname;

const navLinks = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
  { href: "/log", text: "Log" },
  { href: "/about", text: "About" },
];
---

<header>
  <nav
    class="fixed top-0 w-full backdrop-blur-md bg-[var(--color-background)]/95 border-b z-10"
  >
    <div class="max-w-3xl mx-auto px-4">
      <div class="flex justify-between h-16 items-center">
        <div class="flex items-center space-x-8">
          <a href="/" class="flex items-center" aria-label="Go to homepage">
            <img src="/favicon.svg" alt="Logo" class="h-8 w-8 mr-2" />
          </a>

          <div class="hidden md:flex space-x-6">
            {
              navLinks.map(({ href, text }) => (
                <a
                  href={href}
                  class:list={[
                    "group flex items-center text-base transition-colors",
                    { "text-black dark:text-white": pathname === href },
                    { "text-gray-500 dark:text-gray-400": pathname !== href },
                  ]}
                >
                  <span class="hover-underline">{text}</span>
                </a>
              ))
            }
          </div>
        </div>

        <div class="flex items-center just">
          <Search />
          <button
            class="text-gray-400 hover:text-gray-700 ml-4 md:hidden"
            aria-label="메뉴"
            aria-expanded="false"
            aria-controls="nav-menu"
            data-toggle-nav
          >
            <FaSolidBars size={20} />
          </button>
        </div>
      </div>

      <div
        id="nav-menu"
        class="md:hidden max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
        data-nav-menu
      >
        <div class="py-4 space-y-2">
          {
            navLinks.map(({ href, text }) => (
              <a
                href={href}
                class:list={[
                  "block py-2 px-4 text-base transition-colors",
                  { "text-black dark:text-white": pathname === href },
                  { "text-gray-500 dark:text-gray-400": pathname !== href },
                ]}
              >
                <span class="hover-underline">{text}</span>
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </nav>
</header>

<script is:inline src="/js/navigation.js"></script>
