---
interface Props {
  title: string;
  technologies: string;
  summary?: string;
  link?: string;
}

const { title, technologies, summary, link } = Astro.props;
---

<div class="border-b pb-4">
  <h3 class="text-xl font-semibold">{title}</h3>
  <p class="text-gray-600 dark:text-gray-400">Skils: {technologies}</p>
  <p class="mt-2">{summary}</p>
</div>
