---
import Layout from "@/app/layouts/Layout.astro";
import { FaSolidLink, FaBrandsLinkedin, FaBrandsGithub } from "solid-icons/fa";
import { getCollection } from "astro:content";
import { BlogCard } from "@/components/blog/BlogCard";
import Animation from "@/app/components/Animation.astro";

const posts = await getCollection("blog");
const recentPosts = posts
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 3);
---

<Layout description="ChaeJune Lim's Development Blog">
  <Animation>
    <div class="flex flex-col items-start space-y-6">
      <h2 class="text-xl font-bold text-gray">ChaeJune Lim</h2>
      <!--Title-->
      <section>
        <h2 class="text-xl text-slate-600 dark:text-slate-400">
          코드를 넘어 가치를 창출하는 개발자, 균형 잡힌 성장을 추구합니다
        </h2>

        <!-- Introduction -->
        <article class="text-base text-gray">
          <p>
            단순히 기능을 구현하는 '코더'가 아닌, <b
              >문제를 해결하고 가치를 창출하는</b
            > '개발자'가 되고자 합니다. 개발의 가치는 함께 협업하고, 성장하며, 더
            나은 결과를 이루어내는 과정에 있다고 믿습니다.
          </p>

          <p>
            <b>소프트 스킬</b>이 기술적 역량만큼 중요하다고 생각합니다. 효과적인 <b
              >의사소통</b
            >과 <b>신뢰할 수 있는 태도</b>는 개발자로서 성장을 결정짓는 핵심
            요소입니다. 좋은 코드를 작성하는 것을 넘어, 팀과 함께 성장하고
            자신만의 가치를 창출하는 사람이 되고 싶습니다.
          </p>

          <p>
            독서와 운동을 즐기며, 지식, 덕성, 건강의 균형 잡힌 삶을 추구합니다.
            건강한 신체, 깊은 사고, 현명한 삶의 태도가 직업 생활뿐만 아니라 삶
            전체에 긍정적인 영향을 미친다고 믿습니다.
          </p>
          <p>
            단순한 정보가 아닌 지식을 공유하고자 합니다. 간단한 팁이 아닌 이해와
            통찰력을 나누고 싶습니다.
          </p>
          <p>
            현재 프론트엔드 개발자로<a
              href="https://saige.ai"
              class="hover:text-blue-800 underline"
              aria-label="Visit Saige AI company website"
            >
              <FaSolidLink class="inline-block" />Saige</a
            >에서 일하고 있습니다.
          </p>
        </article>
      </section>

      <div class="flex gap-2 text-gray">
        <a
          href="https://www.linkedin.com/in/%EC%B1%84%EC%A4%80-%EC%9E%84-2b857420b/"
          class="hover:text-black transition-colors"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit ChaeJune's LinkedIn profile"
        >
          <FaBrandsLinkedin size={24} />
        </a>
        <a
          href="https://github.com/LimChaeJune"
          class="hover:text-black transition-colors"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Visit ChaeJune's GitHub profile"
        >
          <FaBrandsGithub size={24} />
        </a>
      </div>
    </div>

    <section>
      <div class="mt-16">
        <Animation delay={0.2}>
          <h2 class="text-2xl mb-4 text-slate-600 dark:text-slate-400">
            Recent Posts
          </h2>
        </Animation>
        <div class="grid grid-cols-1 gap-6">
          {
            recentPosts.map((post, index) => (
              <Animation delay={0.3 + index * 0.1}>
                <BlogCard post={post} />
              </Animation>
            ))
          }
        </div>
      </div>
    </section>
  </Animation>
</Layout>
